.btn {
  @include border-radius(4px);
  margin-right: 10px;
  margin-bottom: 5px;
}

.btn.btn-default {
  background: #F9F9f9;
  &:hover {
    background: #F3F3F3;
  }
}

.btn.btn-primary {

}

.btn.btn-white {
  background: none;
  border: 1px solid white;
  &:hover {
    border: 1px solid #CCC;
    background: #f5f5f5;
  }
}
