html, body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 36px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

h2 {
  font-size: 26px;
}

h4 {
  font-size: 14px;
  color: #999;
  font-weight: lighter;
}

.semibold {
  font-weight: 600;
}
