@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: $f-normal;
}

h1 {
  margin-top: 0px;
  font-size: 36px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

h2 {
  font-size: 26px;
  margin-top: 0px;
  margin-bottom: 30px;
  span.type {
    margin-left: 10px;
    font-size: 12px;
    font-weight: $f-lighter;
    color: #999;
  }
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

h4 {
  font-size: 14px;
  color: #999;
  font-weight: $f-lighter;
}

span.space-right {
  margin-right: 5px;
}

.semibold {
  font-weight: 500;
}

.f-lighter {
  font-weight: $f-lighter;
}

.f-semibold {
  font-weight: $f-semibold;
}
