// custom variables (bootstrap in bootstrap/variables.scss)

$grid-float-breakpoint: 600px;
$grid-gutter-width: 30px;

$f-lightest:  100;
$f-lighter:   300;
$f-normal:    400;
$f-semibold:  500;
$f-bold:      700;
