.autocomplete-container {
  position: relative;
  .results {
    display: none;
    position: absolute;
    z-index: 100;
    background: rgba(#fff, 0.98);
    width: 100%;
    ul {
      list-style-type: none;
      margin: 0;
      @include border-radius(4px);
      @include box-shadow(1px 1px 5px #666);
      li {
        @include border-radius(4px);
        padding: 5px 10px;
        &.hovering {
          background: rgba($highlight-blue, 0.6);
          cursor: pointer;
        }
        &.new {
          padding: 7px 10px;
          border-top: 1px solid #DDD;
          color: #666;
          &:not(:first-of-type) {
            @include border-top-radius(0px);
          }
          span {
            font-weight: normal;
          }
        }
      }
    }
    &.open {
      display: block;
    }
  }
}

.autocomplete-container .results span {
  &.label {
    font-size: 11px;
    color: #999;
    font-weight: $f-lighter;
    padding-right: 5px;
  }
}

.autocomplete-container.bold-last-field {
  .results > ul > li > span:last-of-type {
    font-weight: $f-semibold;
  }
}

.autocomplete-container.bold-first-field {
  .results > ul > li > span:first-of-type {
    font-weight: $f-semibold;
  }
}

