/* forms */

.form-control {
  @include border-radius(0px);
}

input, textarea, select {
  border: 1px solid #CCC;
  width: 100%;
  padding: 5px 10px;
  @include border-radius(0px);
}

input.boolean {
  border: none;
  @include box-shadow(none);
  &.form-control {
    margin-left: 0;
  }
}

textarea {
  resize: vertical;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// .checkbox {
//   margin-top: -10px;
//   margin-bottom: 10px;
//   span {
//     margin-left: 20px;
//     font-weight: normal;
//   }
// }
.form-group.checkbox-group {
  margin-bottom: 15px;
  label.control-label {
    font-weight: bold;
    padding-top: 0;
  }
  label.checkbox {
    padding: 3px 0 0 0;
    width: 20px;
    cursor: pointer;
    input.form-control.checkbox {
      height: auto;
      width: 20px;
      cursor: pointer;
    }
  }
}

.multi-line {
  &:not(.last) {
    margin-bottom: 5px;
  }
  &.no-label {
    label {
      height: 0px;
    }
  }
}

input[type="submit"] {
  width: auto;
  float: right;
  margin-left: 15px;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.form-group.indicate-required {
  label::before {
    content: "* "
  }
}

form .actions {
  margin-top: 20px;
  a, input, span, button {
    float: right;
    margin-right: 0px;
    margin-left: 20px;
    &:not(.btn) {
      padding-top: 7px;
    }
  }
  span.divider {
    color: #EEE;
  }
}

span.input.disabled {
  display: inline-block;
  padding-top: 7px;
  color: #AAA;
  font-weight: lighter;
  font-style: italic;
}
