/* header */

header.navbar {
  height: 50px;
  background: $navbar-default-bg;
  border: none;
  @include border-radius(0);
  a {
    cursor: pointer;
    .open & {
      background: rgba(#999, 0.2) !important;
    }
  }
  .navbar-brand {
    a {
      color: #666;
      font-weight: lighter;
      &:hover {
        text-decoration: none;
        color: $navbar-default-link-active-color;
      }
    }
  }
  .navbar-search-container {
    padding-right: 15px;
    position: relative;
    input {
      margin: 12px 0 0;
      background: rgba(#FFF,0.5);
      border: 1px solid #BBB;
      padding: 3px 20px 3px 10px;
      width: 300px;
      @include style-placeholder {
        font-weight: lighter;
        color: #CCC;
      }
    }
    .glyphicon-search {
      position: absolute;
      right: 20px;
      top: 19px;
      color: #AAA;
      &:hover {
        text-decoration:none;
      }
    }
  }
  ul.dropdown-menu {
    a:hover {
      background: #EEE;
    }
    li.with_new {
      a {
        display: inline-block;
        padding: 5px 10px;
        color: #333;
        &:first-child { width: 70% }
        &:last-child  { width: 30% }
      }
    }
  }
  i.caret {
    margin-left: 5px;
  }
  .navbar-collapse.in {
    position: relative;
    background: rgba(white, 0.98);
    border-bottom: 1px solid #DDD;
    padding-bottom: 20px;
    z-index: 10;
  }
  button.navbar-toggle {
    background: rgba(white, 0.3);
    &:focus {
      background: rgba(white, 0.3);
    }
    &:hover {
      background: rgba(white, 0.5);
    }
  }
}
