table {
  color: #333;
  &:not(.list) {
    margin: 20px 0;
  }
  td, th {
    padding: 5px 20px 5px 0;
  }
  &.left-column-heading {
    td:first-of-type {
      font-weight: lighter;
      font-style: italic;
      color: #999;
    }
  }
}

table.list {
  width: 100%;
  td {
    width: 100px;
  }
}
