#sidebar {
  margin-bottom: 30px;
  a {
    color: #888;
    display: block;
    font-weight: lighter;
  }
  .selected > a {
    color: $link-color;
    font-weight: normal;
    margin-bottom: 10px;
  }
  li {
    margin-top: 10px;
    margin-right: 5px;
    ul {
      padding-left: 20px;
      margin-top: 10px;
    }
  }
}
