/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */


@import "utilities/reset";
@import "utilities/variables";
@import "utilities/colors";
@import "utilities/mixins";
@import "utilities/placeholders";

@import "vendor/bootstrap";
@import "vendor/quill.base";
@import "vendor/quill.snow";
@import 'bootstrap-datetimepicker';
// @import "vendor/compass/stylesheets/compass";

@import "partials/base";
@import "utilities/buttons";
@import "utilities/typography";
@import "utilities/select";

body {
  @include box-sizing('border-box');
  background: $bg-body;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

body, .modal {
  min-width: 270px;
}

#main-wrapper {
  min-height:100%;
  position: relative;
}

#main-content {
  padding-bottom: 50px; /* Min: height of the footer element */
}

#page-content {
  padding: 30px 20px;
  margin-top: 10px;
  background: white;
  outline: 1px solid rgba(0, 0, 0, 0.04);
  @include box-shadow(0px 1px 3px -1px rgba(0, 0, 0, 0.3));
  @extend %clearfix;
}

.container-fluid {
  max-width: 1500px;
}

.main-details {
}

// partials

// .actions within form at _form.scss
.actions {
  margin-top: 20px;
  margin-bottom: 20px;
  &.main {
    margin: 0;
  }
}

.actions.main {
  margin: 0;
  .btn {
    float: left;
    margin: 0 10px 10px 0;
    display: inline-block;
    @media screen and (min-width: $screen-sm-min) {
      margin-right: 0;
      float: right;
      clear: right;
    }
  }
}

.bootstrap-datetimepicker-widget {
}

span.glyphicon.glyphicon-remove {
  color: rgba(#999, 0.5);
  font-size: 12px;
  &:hover {
    color: red;
  }
}

p.notice, p.alert {
  margin: -30px -20px 20px -20px;
  padding: 10px 20px;
  @include border-radius(0);
  &.notice { background: $bg-green; }
  &.alert { background: $bg-red; }
  .external & {
    margin: 0 0 20px 0;
  }
}

.error {
  color: red;
}


.hr-container {
  position: relative;
  padding: 0 15px;
  > hr {
    margin-top: 20px;
  }
}

.breadcrumbs {
  .gt {
    margin: 0 5px 0 2px;
  }
  a {
    color: #6677CC;// #333;
  }
}

div.status {
  display: inline-block;
  border-radius: 20px;
  height: 20px;
  padding: 2px 7px;
  font-size: 11px;
  text-align: center;
  background: #EEE;
  &.current,
  &.pass {
    background: $bg-green;
  }
  &.pending {
    background: $bg-gray;
  }
  &.obsolete,
  &.fail {
    font-weight: $f-semibold;
    background: rgba(255, 130, 120, 1);
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  background: rgba(black, 0.8);
  color: #AEA;
  margin: 0;
  border: 1px solid #222;
  @include border-radius(0px);
  @include box-sizing(border-box);
}

.raw {
  ul {
    list-style: disc inside none;
  }
  ol {
    list-style: decimal inside none;
  }
}

// For angular-bootstrap:
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
